- name: Check needs-restarting -r

      shell: needs-restarting -r > /dev/null && echo $? || echo $?

      when:

        - (ansible_facts['distribution_major_version'] == "6") or

          (ansible_facts['distribution_major_version'] == "7")

      register: echo_restart_code

 

    - name: Check needs-restarting -r

      shell: dnf needs-restarting -r > /dev/null && echo $? || echo $?

      when:

        - ansible_facts['distribution_major_version'] == "8"

      register: echo_restart_code

 

    - name: Reboot a slow machine that might have lots of updates to apply

      ansible.builtin.reboot:

        post_reboot_delay: 120

      when: echo_restart_code.stdout == "1"
